# docker-compose.yml
version: "3.8"
services:
  api:
    build:
      context: api
      dockerfile: Dockerfile
    volumes:
      - ./api:/app
    ports:
      - 3001:3001
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/react-docker
    ports:
      - 3000:3000
    environment:
      - CHOKIDAR_USEPOLLING=true
